<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoi Phuc</title>
</head>

<body>
    <h1>Welcome to Hoi Phuc from VIew</h1>
    <p>
        <%= data %>
    </p>

</body>

</html>