.search-center-home {
    margin: 10px 0 20px 0;

    input {
        height: 40px;
        border-radius: 20px;
        padding: 0 15px;
    }
}

.center-name {
    font-weight: 600;
    margin-bottom: 5px;
}

.center-address {
    font-size: 13px;
    color: #666;
}