.search-booking-container {
    padding: 30px;

    .title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }

    table {
        background: white;
    }
}